.buttonIcon{
    font-size: 2rem;
    background-color: pink;
}
.postJobBtn{
    width: 97%;
    border-radius: 30px;
    margin: 20px 0;
    height: 50px;
    font-size: large;
    color: rgb(10,102,194);
    border:2px solid rgb(10,102,194);
    cursor: pointer;
}
.postJobBtn:hover{
    background-color: rgba(10, 102, 194, 0.144);
}